<head>
<title>MBA Exchange</title>
<link rel="shortcut icon" type="image/png" href="/../../static/AddPerson/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="/../../static/AddPerson/css/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/../../static/AddPerson/scripts/search.js"></script>
</head>

<body>
  <div id='box'>
    <a href='/'>
      <img id='logo' src='/../../static/AddPerson/images/favicon.png' />
      <h1 id='title'> Client Manager </h1>
    </a>
    <hr>
    <div id='content'>
      <h3> {{action}} </h3>
      {% for i in urls %}
        <td><input class='selectsearch' type="button" value= {{ i }}></td>
      {% endfor %}
        <div id='client_search' class='hidden searchbox'>
          <form type='get' action='.' style="margin: 0">
            <input id='search_box' name='client_search' placeholder="Search clients...">
            <button type="submit" id='searchbutton'>Search</button>
          </form>
        </div>
        <div id='consultant_search' class='hidden searchbox'>
          <form type='get' action='.' style="margin: 0">
            <input id='search_box' name='consultant_search' placeholder="Search consultants...">
            <button type="submit" id='searchbutton'>Search</button>
          </form>
        </div>
        <div id='editor_search' class='hidden searchbox'>
          <form type='get' action='.' style="margin: 0">
            <input id='search_box' name='editor_search' placeholder="Search editors...">
            <button type="submit" id='searchbutton'>Search</button>
          </form>
        </div>
        <div id='provider_search' class='hidden searchbox'>
          <form type='get' action='.' style="margin: 0">
            <input id='search_box' name='provider_search' placeholder="Search providers...">
            <button type="submit" id='searchbutton'>Search</button>
          </form>
        </div>
    </div>
    <div id='shadow'></div>
  </div>
</body>
