<head>
<title>MBA Exchange</title>
<link rel="shortcut icon" type="image/png" href="/../../static/AddPerson/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="/../../static/AddPerson/css/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/../../static/AddPerson/scripts/search.js"></script>
</head>

<body>
  <div id='box'>
    <a href='/'>
      <img id='logo' src='/../../static/AddPerson/images/favicon.png' />
      <h1 id='title'> Client Manager </h1>
    </a>
    <hr>
    <div id='content'>
      <h3> {{action}} </h3>
      <form action="." method="post">{% csrf_token %}
        {% for i in urls %}
          <td><input class='selectsearch' type="button" value= {{ i }}></td>
        {% endfor %}
      </form>
      <div id='client_search' class='hidden searchbox' name='client_search'>
        <input placeholder="Search clients...">
      </div>
      <div id='consultant_search' class='hidden searchbox' name='consultant_search'>
        <input placeholder="Search consultants...">
      </div>
      <div id='editor_search' class='hidden searchbox' name='editor_search'>
        <input placeholder="Search editors...">
      </div>
      <div id='provider_search' class='hidden searchbox' name='provider_search'>
        <input placeholder="Search providers...">
      </div>
      <button type="submit" class='hidden' id='searchbutton'>Search</button>
    </div>
    <div id='shadow'></div>
  </div>
</body>
