{% extends 'AddPerson/base.html' %}

{% block content %}

<!--Show forms for new services and addmissions services here-->
<h1>
Current Services:
</h1>
<form method="post" action='.'>{% csrf_token %}
    {{ form1 }}
    <input type="submit" name='add_addmission' value="Add Addmissions" />
</form>
<form method="post" action='.'>{% csrf_token %}
    {{ form2 }}
    <input type="submit" name='add_service' value="Add Service" />
</form>
<ul>
{% for service in services %}
  <li>
    <form method="post" action='.'>{% csrf_token %}
      {{service}}
      <input type='submit' name='delete service {{service.id}}' value="x" />
    </form>
  </li>
{% endfor %}
{% for a_service in addmissions_services %}
  <li>
    <form method="post" action='.'>{% csrf_token %}
      {{a_service}}
      <input type='submit' name='delete addmissions service {{a_service.id}}' value="x" />
    </form>
  </li>
{% endfor %}
</ul>
<ul>
  {% for field in client_display %}
  {{field}}
  {% endfor %}
</ul>

{% endblock content %}