/*@font-face {
  font-family: 'custom';
  src: url('../fonts/Lekton/Lekton-Regular.ttf');
}*/

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  background: url('/../../static/AddPerson/images/background2.jpg');
  background-size: 100%;
}

a {
  color:#000;
}

a:visited  {
  color: #000;
}

a:hover{
  color:000;
}

h1 {
  font-weight: 200;
  font-size: 16pt;
}

.button {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #fff;
  border: solid 1px #aaaaaa;
  border-radius: 10px;
}

.button:hover {
  border: solid 1px #b5a394;
  background-color: #b5a394
}

.button:active {
  outline:none;
}

.button:focus {
  outline:none;
}

#box {
  opacity: 0.8;
  position: relative;
  background-color: #fff;
  padding: 20px;
  top: 100px;
  width: 500px;
  margin:auto;
  box-shadow: 10px 10px 40px #000;
  border-radius: 8px;
}

#logo {
  width: 150px;
}

#title {
  position: absolute;
  right: 40px;
  top: 70px;
  display: inline-block;
  font-size: 24pt;
}

#content {
  text-align: center;
  width: 90%;
  margin: auto;
}

.hidden {
  display: none
}

.searchbox {
  padding: 5px;
  border: none;
  border-bottom: solid 1px #ccc;
}

.searchdrop {
  padding-top: 15px
}